
<div class="row" style="    padding-left: 12px;
padding-right: 20px;" >
   <div class="col-sm-6	col-md-4	col-lg-4	col-xl-4	col-xxl-4 ">
    <div >
     <a (click)="sumarContador(8)" href="{{publi[0]?.link8}}" target="_blank">
       <img src="{{publi[0]?.img8}}" width="100%" alt="" ></a>
    </div>
  </div>

  <div class="col-sm-6	col-md-4	col-lg-4	col-xl-4	col-xxl-4 ">
    <div >
     <a (click)="sumarContador(9)" href="{{publi[0]?.link9}}" target="_blank">
       <img src="{{publi[0]?.img9}}" width="100%" alt="" ></a>
    </div>
  </div>

  
  <div class="col-sm-6	col-md-4	col-lg-4	col-xl-4	col-xxl-4 quitar ajusteTop" >
    <div >
     <a (click)="sumarContador(10)" href="{{publi[0]?.link10}}" target="_blank">
       <img src="{{publi[0]?.img10}}" width="100%" alt="" ></a>
    </div>
  </div>


  <div class="col-sm-6	col-md-4	col-lg-4	col-xl-4	col-xxl-4 aparece767" style="margin-top: 20px;" >
    <div >
     <a href="{{publi[0]?.link7}}" target="_blank">
       <img src="{{publi[0]?.img7}}" width="100%"    alt=""></a>
    </div>
  </div>

 </div>


 








<!-- 



<div   class="row quitar600" style="margin-top:5px;  padding-right:34px; height:auto!important">
    <div class="col-sm-6	col-md-6	col-lg-4	col-xl-4	col-xxl-4 ">
      <div >
       <a href="http://www.culturademontania.org.ar/Suscripcion-form/suscripcion.html" target="_blank" >
         <img src="../../../assets/banner Noticias.png"  alt="" ></a>
      </div>
    </div>

    <div class="col-sm-6	col-md-6	col-lg-4	col-xl-4	col-xxl-4" >
      <div >
       <a href="http://www.culturademontania.org.ar/Suscripcion-form/inscripcion-entrenamiento.html" target="_blank">
         <img src="../../../assets/otros.png" width="100%" style="height: auto!important;" alt=""></a>
      </div>
    </div>

    <div class="col-sm-6	col-md-6	col-lg-4	col-xl-4	col-xxl-4   quitar" style="padding-right: 0px" >
      <div >
       <a href="http://www.culturademontania.org.ar/Suscripcion-form/inscripcion-equipo.html" target="_blank">
         <img src="../../../assets/formarparte.png" width="100%" style="height: auto!important;"  alt=""></a>
      </div>
    </div>

    <div class="imgAparece col-sm-6	col-md-6	col-lg-4	col-xl-4	col-xxl-4  poner" style="padding-right: 0px" >
      <div >
       <a href="http://www.culturademontania.org.ar/Suscripcion-form/inscripcion-equipo.html" target="_blank">
         <img src="../../../assets/cartel.png" width="100%" height="auto"  alt=""></a>
      </div>
    </div>
  </div> -->
