
<div class="row marco" >
  <div class="col-sm-12	col-md-12	col-lg-7	col-xl-7	col-xxl-7" style="padding-right: 0px; margin-right: 0px;">
    <div style="position:relative" >

        <img class="imagenPortada"  src="{{this.data.imgPortada}}" alt="" width="100%"  height="600px"       
        style="object-fit: cover; margin-top: -29px; " >

               
 

 
   
          <div class="imgLogo " >
         <img src="../../../assets/logonm.png" class="fade-in-image logo" alt=""  style="z-index: -1">
         
      </div>



    <div class="cuadroTitulo">
      <h6 class="categoria" style="margin-top:20px" >Comunidad de la red cultural de Montaña</h6>
      <!-- <h6 class="titular">{{data?.imagen2}}</h6> -->
      <h6 class="titular" >Bienvenidos a descubrir la Cultura de Montaña</h6>
      <h6 class="titular quitar1300"  style="font-size:20px; color: rgb(255, 255, 255);   line-height: 30px; 
        font-weight:200; margin-top:0px">{{data?.imagen3}}</h6>
        <p class="subtitulo">{{data?.subtitulo }}</p>
 
    </div>

      </div>
  </div>
  <div *ngIf="this.publi" class="col-sm-5	col-md-5	col-lg-5	col-xl-5	col-xxl-5 div-img-publi" style="margin-left: -20px;">
    <a (click)="sumarContador(7)" href="{{publi[0]?.link7}}" target="_blank">
<img src="{{publi[0]?.img7}}"  alt="" width="100%" height="561px"  style="margin-right: -24px; margin-top: 1px;">
</a>
  </div>
</div>



   